.home {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	// padding-top: 60px;

	// display: flex;
	// flex-direction: column;
	// justify-content: space-between;
	height: 100vh;
}

.slider {
	height: var(--height);
	overflow: hidden;
	//
	mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
	//
}

.list {
	display: flex;
	width: 100%;
	min-width: calc(var(--width) * var(--quantity));
	position: relative;
}

.item {
	width: var(--width);
	height: var(--height);
	position: absolute;
	left: 100%;
	// @include grid-center;
	display: grid;
	place-content: center;
	animation: autoRun 20s linear infinite;
	//
	animation-delay: calc(
		(20s / var(--quantity)) * (var(--position) - 1)
	) !important;
	//

	img {
		// width: 100%;
		cursor: pointer;
		filter: grayscale(1);
		transition: filter 0.3s;

		&:hover {
			filter: grayscale(0);
		}
	}
}

.slider:hover .item {
	animation-play-state: paused;
}

@keyframes autoRun {
	from {
		left: 100%;
	}
	to {
		left: calc(var(--width) * -1);
	}
}

.slider[reverse="true"] .item {
	animation: reversePlay 10s linear infinite;
}

@keyframes reversePlay {
	from {
		left: calc(var(--width) * -1);
	}
	to {
		left: 100%;
	}
}
