.dark-mode-btn {
	margin-left: auto;
	margin-right: 10px;
	color: rgb(0, 0, 0);
	z-index: 9999;
}

body.dark .dark-mode-btn {
	color: #fff;
}

body.dark {
	color: #fff !important;
	background: #000 !important;
}

body.dark .header {
	color: #fff;
	background: rgba(0, 0, 0, 0.9);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

body.dark .header__logo-link-txt {
	color: #fff;
}

.light-logo {
	display: none;
}

body.dark .header__nav-link {
	color: #ffffff;
}

body.dark .menu__nav-link {
	color: #ffffff;
}

body.dark .link-effect::after {
	background: #fff !important;
}

body.dark .dark-mode-btn {
	color: rgb(255, 255, 255);
}
body.dark .header__link {
	color: #fff;
}

body.dark .element {
	background: rgba(131, 131, 131, 0.11);
	color: #ffffff;
}

body.dark a {
	color: #fff;
}

body.dark .menu-btn::before,
body.dark .menu-btn::after {
	background: #fff;
}

body.dark .footer {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}

// Contact
body.dark input,
body.dark textarea {
	border: 1px solid rgba(255, 255, 255, 0.5);
}

body.dark button[type="submit"] {
	background: #fff;
	color: #000;
}

body.dark .dark--active {
	border: 1px solid #fff;
}

body.dark .projects__btn--active.dark--active {
	background: #fff;
	color: #000;
}
