.dark-mode-btn {
	margin-left: auto;
	margin-right: 10px;
	color: rgb(0, 0, 0);
	z-index: 9999;
}

body.dark .dark-mode-btn {
	color: #fff;
}

body.dark {
	color: #fff !important;
	background: #000 !important;
}

body.dark .header {
	color: #fff;
	background: rgba(0, 0, 0, 0.9);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

body.dark .header__logo-link-txt {
	color: #fff;
}

.light-logo {
	display: none;
}

body.dark .light-logo {
	display: block;
}
body.dark .dark-logo {
	display: none;
}

body.dark .header__nav-link {
	color: #ffffff;
}

body.dark .menu__nav-link {
	color: #ffffff;
}

body.dark .link-effect::after {
	background: #fff !important;
}

body.dark .dark-mode-btn {
	color: rgb(255, 255, 255);
}
body.dark .header__link {
	color: #fff;
}

body.dark .element {
	background: rgba(131, 131, 131, 0.11);
	color: #ffffff;
}

body.dark a {
	color: #fff;
}
