.menu-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	aspect-ratio: 1/1;
	border-radius: 15px;
}

.menu-btn__icon {
	font-size: 2rem;
	transition: all 0.3s;
}

.menu-btn__icon--active {
	transform: rotate(135deg);
}
