.menu-btn {
	position: relative;
	span {
		font-size: 2rem;
		position: relative;
		z-index: 1;
	}
	width: 40px;
	aspect-ratio: 1/1;
	display: grid;
	place-items: center;
	border-radius: 15px;
	color: white;

	// color: #fff;
	// background: rgb(49, 195, 224);

	// border: 1px solid black;
}
