.header {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
}

.header__logo {
	// font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	// font-weight: 500;
}

.header__nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
}

.header__nav-link {
	color: #000;
}
