.projects {
	padding: 80px 30px 30px 30px;
	display: flex;
}

.projects__title-container {
	width: 100%;
}

.projects__title-inner {
	position: sticky;
	top: 80px;
}

.projects__title {
	font-size: 2.5rem;
}

.projects__btn-container {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin-top: 15px;
}

.projects__btn {
	padding: 10px;
	border: 1px solid #fff;
}

.projects__btn--active {
	background: #fff;
	color: #000;
}

.projects__mansory-container {
	width: 100%;
	display: flex;
	gap: 15px;
	height: 100vh;
	// overflow-y: scroll;
}

.projects__labels-container {
	column-count: 1;
	gap: 30px;
	width: 20%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	overflow-y: scroll;
}

.masonry {
	width: 80%;
	display: flex;
	flex-direction: column;
	// column-count: 1;
	gap: 15px;
	overflow-y: scroll;
}

.projects__link {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: all 1s;
}

.projects__link--active {
	opacity: 1;
}

@media screen and (width <= 1000px) {
	.masonry {
		column-count: 1;
	}

	.masonry {
		gap: 15px;

		.projects__link {
			width: 100%;

			img {
				// TODO:
				display: block;
				width: 100%;
				// padding-bottom: 15px;
			}
		}
	}
}

@media screen and (width <= 896px) {
	.projects {
		padding: 65px 15px 15px 15px;
	}

	.projects__mansory-container {
		width: 100%;
		display: flex;
		gap: 10px;
		height: auto;
	}

	.projects__labels-container {
		display: none;
	}

	.masonry {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;
		overflow-y: scroll;
	}
}

@media screen and (width < 808px) {
	.projects {
		flex-direction: column;
		row-gap: 15px;
	}
}
