@use "./fonts";
@use "./reset";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

body {
	font-family: "Urbanist", sans-serif;
}

#root {
	display: flex;
	flex-direction: column;
}

a {
	color: #000;
}

@media screen and (width <= 1000px) {
	body {
		padding: 0;
		font-family: "Urbanist", sans-serif;
	}
}
