@use "./fonts";
@use "./reset";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

body {
	// padding: 60px 30px 30px 30px;
	font-family: "Urbanist", sans-serif;
}

.masonry {
	padding: 30px;
	column-count: 3;
	gap: 30px;
	z-index: -1;

	.project__link {
		width: 100%;

		img {
			// TODO:
			display: block;
			width: 100%;
			padding-bottom: 30px;
		}
	}
}

.home-img {
	opacity: 0;
	transition: all 1s;
}

.home-img--active {
	opacity: 1 !important;
}

a {
	color: #000;
}

@media screen and (width <= 1000px) {
	.masonry {
		column-count: 2;
	}

	body {
		padding: 0;
		// padding-top: 60px;
		font-family: "Urbanist", sans-serif;
	}

	.masonry {
		padding: 15px;
		gap: 15px;

		.project__link {
			width: 100%;

			img {
				// TODO:
				display: block;
				width: 100%;
				padding-bottom: 15px;
			}
		}
	}
}
